@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid">
    <div class="text-center">
        <h2 class="text-primary">About Us</h2>
        <hr />
        <div class="row">
            <p>This web application was developed as an assignment for SOFT703 - Web Applications Development and SOFT806 - Cloud Application Development.</p>
            <p>This will be deployed using cloud platforms such as Azure, AWS, etc.</p>
        </div>
    </div>
</div>