<div class="container-fluid">
    <div class="text-center">
        <h1 class="text-primary">Welcome to the Fishing Store App</h1>
        <hr />
    </div>
    <div class="row">
        <img src="~/images/fishing.jpg" class="rounded"/>
    </div>
</div>