@model int

<div class="container row pt-4">
    <div class="col-md-2">
        <a asp-area="Customer" asp-controller="Home" asp-action="Index" style="border-radius:5px" class="btn btn-primary text-uppercase mb-5 btn-sm"><small>Back to Home</small></a>
    </div>
    <div class="col-12 text-center">
        <img src="~/images/Order Confirmed.png" width="65%"/>
    </div>
</div>